.grid {
    display: none;
    grid-template-areas: "hospitales imagenes imagenes imagenes";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    height: 280px;
    left: 60px;
    position: absolute;
    top: 0px !important;
    width: 60%;
    z-index: 1000;
}

.grid.activo {
    display: grid;
}

.grid.menu-toggle {
    top: -125px !important;
}

.grid::before {
    background-color: transparent;
    border-bottom: 10px solid black;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    display: block;
    left: 65px;
    position: absolute;
    top: -8px;
}

.grid>div {
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .10);
}

.grid .hospitales {
    grid-area: hospitales;
    overflow-y: auto;
    padding-top: 10px;
}

.hospitales .btn-regresar {
    background-color: #232F3E;
    cursor: pointer;
    display: none;
    font-size: 1rem;
    margin: 20px;
    padding: 10px;
}

.hospitales .btn-regresar i {
    margin-right: 10px;
}

.grid .hospitales .hospitales-nombre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.grid .hospitales .hospitales-nombre:hover a, 
.grid .hospitales .hospitales-nombre:hover i{
    color: #E47911;
    font-weight: bold;
}

.hospitales a {
    color: #000;
    font-size: 0.875rem;
    margin: 8px 20px;
    align-items: center;
    font-weight: normal;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.grid .hospitales .hospitales-nombre i {
    display: none;
    margin-right: 10px;
}

.grid .hospitales .hospitales-nombre:hover i {
    display: block;
}

.grid .contenedor-imagenes {
    grid-area: imagenes;
    z-index: 15;
    height: 280px;
}

.message{
    display: flex;
    height: 100%;
    margin: 0 auto;
}

.contenedor-imagenes .imagenes {
    display: none;
    grid-template-areas: "banner banner img";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    z-index: 25;
}

.contenedor-imagenes .imagenes.activo {
    display: grid;
}

.contenedor-imagenes .imagenes .banner{
    grid-area: banner;
    height: 280px;
}

.contenedor-imagenes .imagenes .banner img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 50;
    display: block;
}

.contenedor-imagenes .imagenes .galeria{
    grid-area: img;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.contenedor-imagenes .imagenes .galeria img {
    object-fit: cover;
    z-index: 50;
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 1900px) {
    .grid{
        width: 65%;
    }
}

@media screen and (max-width: 1700px) {
    .grid{
        width: 80%;
    }
}

@media screen and (max-width: 1300px) {
    .grid{
        width: 80%;
        height: 230px;
    }

    .hospitales a {
        margin: 4px 10px;
    }

    .grid .contenedor-imagenes {
        height: 230px;
    }
    
    .contenedor-imagenes .imagenes .banner{
        height: 230px;
    }
}

@media screen and (max-width: 992px) {
    .contenedor-enlaces-nav {
        padding: 0 10px;
    }

    .grid{
        width: 95%;
        left: 12px;
        height: 200px;
    }

    .hospitales a {
        font-size: 0.75rem;
        margin: 3px 10px;
    }

    .grid .contenedor-imagenes {
        height: 200px;
    }
    
    .contenedor-imagenes .imagenes .banner{
        height: 200px;
    }
}

@media screen and (max-width: 800px) {
    .grid {
        display: grid;
        transition: .3s ease all;
        transform: translateX(-100%);
        z-index: 3000;
        width: 100%;
        position: fixed;
        left: 0;
        height: 100%;
        grid-template-areas: "hospitales hospitales hospitales ";
    }

    .grid.menu-toggle {
        top: 0 !important;
    }

    .grid.activo {
        transform: translateX(0%);
    }

    .grid::before {
        display: none;
    }

    .grid .btn-regresar {
        display: inline-block;
    }
    
    .grid .contenedor-imagenes {
        position: absolute;
        transform: translateX(-100%);
    }

    .hospitales a {
        margin: 8px 10px;
    }

    .grid .hospitales .hospitales-nombre:hover i {
        display: none;
    }
}