
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

html{
    scroll-behavior: smooth;
}

body {
    background-color: #EAEDED;
    display: grid;
    font-family: Arial, sans-serif;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

a{
    text-decoration: none;
    color: black;
}

/* #ocultar1 {
    display: none;
} */

#output {
    height: 400px;
    padding: 40px 40px;
    /* padding-bottom: 10px; */
    /* padding-top: 100px; */
}

.col-lg-1 {
    padding: 0px;
    margin: 0px;
    display: inline;
}

#tabala {
    position: relative;
}

#caja {
    position: absolute;
    right: 25px;
}