/* PARA EL BOTON DE CERRAR */

.popup .btn-cerrar-popup {
    font-size: 16px;
    line-height: 16px;
    /* PARA QUE EL ENLACE ABARQUE TODO EL ESPACIO DISPONIBLE */
    display: block;
    /* Y DADO QUE USAMOS LA PROPIEDAD ANTERIOR PODEMOS USAR "text-align" PARA POSICIONAR EL ENLACE HACIA LA DERECHA*/
    text-align: right;
    color: #BBBBBB;
    transition: .3s ease all;
}

.popup .btn-cerrar-popup:hover {
    color: #000;
}

.popup h3 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 40px;
    opacity: 0;
}

.popup form .contenedor-inputs {
    opacity: 0;
}

.popup form .contenedor-inputs input {
    width: 100%;
    margin-bottom: 20px;
    height: 52px;
    line-height: 52px;
    font-size: 18px;
    text-align: center;
    border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
    padding: 0 20px;
    height: 40px;
    border: none;
    color: #fff;
    background-color: #5E7DE3;
    border-radius: 3px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    cursor: pointer;
    /* PARA PODER DARLE ESE EFECTO DE ANIMACIÓN CUANDO APAREZCA */
    transition: .3s ease all;
}

.popup form .btn-submit:hover {
    background-color: rgba(94, 125, 227, .9);
}


/* ANIMACIONES */


/* CON ESTO MOSTRAMOS LA VENTANA */

.popup.active {
    opacity: 1;
    transform: scale(1)
}

.popup.popup.active h3 {
    animation: entradaTitulo .8s ease .5s forwards;
}

.popup.popup.active .contenedor-inputs {
    animation: entradaInputs 1s ease 1s forwards;
}

@keyframes entradaTitulo {
    from {
        transform: translateY(-25px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes entradaInputs {
    from {
        /* transform: translateY(-25px); */
        opacity: 0;
    }
    to {
        /* transform: translateY(0); */
        opacity: 1;
    }
}